In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_l =pd.read_csv("drive/My Drive/ARP_MitM_labels.csv")

In [ ]:
df_label=df_l[2000000:2050000]
df_label

         Unnamed: 0  x
2000000     2000001  1
2000001     2000002  1
2000002     2000003  1
2000003     2000004  1
2000004     2000005  1
...             ... ..
2049995     2049996  1
2049996     2049997  1
2049997     2049998  1
2049998     2049999  1
2049999     2050000  1

[50000 rows x 2 columns]

In [ ]:
y_value=df_label['x']
y_value

2000000    1
2000001    1
2000002    1
2000003    1
2000004    1
          ..
2049995    1
2049996    1
2049997    1
2049998    1
2049999    1
Name: x, Length: 50000, dtype: int64

In [ ]:
df =pd.read_csv("drive/My Drive/ARP_MitM_dataset.csv")
df.head()

,1.000000000000000000e+00,1.294000000000000000e+03,0.000000000000000000e+00,1.000000000000000000e+00.1,1.294000000000000000e+03.1,0.000000000000000000e+00.1,1.000000000000000000e+00.2,1.294000000000000000e+03.2,0.000000000000000000e+00.2,1.000000000000000000e+00.3,...,0.000000000000000000e+00.48,0.000000000000000000e+00.49,0.000000000000000000e+00.50,1.000000000000000000e+00.24,1.294000000000000000e+03.28,0.000000000000000000e+00.51,1.294000000000000000e+03.29,0.000000000000000000e+00.52,0.000000000000000000e+00.53,0.000000000000000000e+00.54
0,1.000000,1514.0,0.000000e+00,1.000000,1514.0,0.000000e+00,1.000000,1514.0,0.000000e+00,1.000000,...,0.000000e+00,0.0,0.0,1.000000,1514.0,0.000000,1514.0,0.000000e+00,0.0,0.0
1,1.999505,1294.0,6.984919e-10,1.999703,1294.0,2.328306e-10,1.999901,1294.0,6.984919e-10,1.999990,...,0.000000e+00,0.0,0.0,1.999999,1294.0,0.000000,1294.0,0.000000e+00,0.0,0.0
2,2.998985,1294.0,9.313226e-10,2.999391,1294.0,4.656613e-10,2.999797,1294.0,6.984919e-10,2.999980,...,6.984919e-10,0.0,0.0,2.999998,1294.0,0.000015,1294.0,2.328306e-10,0.0,0.0
3,3.998061,1294.0,9.313226e-10,3.998836,1294.0,2.328306e-10,3.999612,1294.0,6.984919e-10,3.999961,...,2.328306e-10,0.0,0.0,3.999996,1294.0,0.000000,1294.0,0.000000e+00,0.0,0.0
4,4.996578,1294.0,6.984919e-10,4.997946,1294.0,4.656613e-10,4.999315,1294.0,0.000000e+00,4.999932,...,4.656613e-10,0.0,0.0,4.999993,1294.0,0.000000,1294.0,0.000000e+00,0.0,0.0

In [ ]:
df1=df[['1.000000000000000000e+00','1.294000000000000000e+03','0.000000000000000000e+00','1.000000000000000000e+00.1','1.294000000000000000e+03.1','0.000000000000000000e+00.1','1.000000000000000000e+00.2','1.294000000000000000e+03.2','0.000000000000000000e+00.2','0.000000000000000000e+00.48']]
df2=df1[2000000:2050000]
df2

,1.000000000000000000e+00,1.294000000000000000e+03,0.000000000000000000e+00,1.000000000000000000e+00.1,1.294000000000000000e+03.1,0.000000000000000000e+00.1,1.000000000000000000e+00.2,1.294000000000000000e+03.2,0.000000000000000000e+00.2,0.000000000000000000e+00.48
2000000,144.478531,1265.320282,175668.084258,253.117149,1277.824564,160640.003771,826.483001,1290.982900,145920.911199,182248.115745
2000001,373.916430,1321.833291,203801.532797,626.221363,1326.372207,198233.665461,1927.565435,1333.363790,189741.637756,181632.107509
2000002,145.416346,1258.056172,182080.507970,254.051777,1273.617450,164486.657744,827.411844,1289.675228,147157.721156,182635.550268
2000003,374.689718,1322.346160,203355.905290,626.993522,1326.671457,197973.558110,1928.331635,1333.457465,189660.153267,181577.982069
2000004,375.548256,1322.856491,202911.960963,627.851480,1326.969821,197714.042170,1929.186006,1333.551049,189578.729578,181523.887193
...,...,...,...,...,...,...,...,...,...,...
2049995,399.692220,1312.557259,214630.629533,650.176898,1322.079730,203875.160621,1924.986519,1336.229009,188232.753080,182265.682277
2049996,400.466384,1313.060280,214195.754626,650.956453,1322.374558,203618.463951,1925.768936,1336.321320,188151.410695,182211.353821
2049997,401.266568,1313.561043,213762.328019,651.761553,1322.668570,203362.305094,1926.576722,1336.413545,188070.127618,182157.055930
2049998,402.103802,1314.059519,213330.383666,652.602916,1322.961752,203106.696853,1927.420402,1336.505682,187988.905307,182102.788679
2049999,402.892210,1314.555782,212899.863030,653.396850,1323.254129,202851.619193,1928.217513,1336.597733,187907.741740,182048.551914

In [ ]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(0,1))
scaled_df = sc.fit_transform(df2)
scaled_df

array([[0.27446968, 0.88568543, 0.36930917, ..., 0.94518064, 0.30525629,
        0.98344002],
       [0.71337679, 0.92721195, 0.42845446, ..., 0.97772179, 0.39692617,
        0.98011595],
       [0.27626369, 0.88034767, 0.38279008, ..., 0.94417658, 0.30784361,
        0.98553068],
       ...,
       [0.76569669, 0.92113339, 0.44939516, ..., 0.98006347, 0.39342949,
        0.98294865],
       [0.7672983 , 0.92149968, 0.44848708, ..., 0.98013422, 0.39325958,
        0.98265582],
       [0.76880649, 0.92186434, 0.44758199, ..., 0.9802049 , 0.39308979,
        0.98236315]])

In [ ]:
from sklearn.model_selection import train_test_split
train_data, test_data, train_target, test_target = train_test_split(scaled_df,y_value, train_size = 0.8)
train_data.shape

(40000, 10)

In [ ]:
outliers = y_value[y_value == 1]
print("outliers.shape", outliers.shape)
print("outlier fraction", outliers.shape[0]/y_value.shape[0])

outliers.shape (47580,)
outlier fraction 0.9516

In [ ]:
from sklearn import svm 
acc = outliers.shape[0] / y_value.shape[0]
print("accuracy", acc)
model = svm.OneClassSVM(nu=acc, kernel='rbf', gamma=0.00005) 
model.fit(train_data)

accuracy 0.9516

OneClassSVM(gamma=5e-05, nu=0.9516)